<header>FEMMIE FIT TAILOR</header>


<div class="content" #content>
  <img class="bg" src="./assets/img2.jpg" alt="background">
  <div class="animated-text" @fadeIn>
    "The magic of tailoring lies in making every woman feel uniquely beautiful."
  </div>
</div>

<mat-card class="welcome-container" #welcomeCard>
  <mat-card-title>WELCOME</mat-card-title>
  <mat-card-content>
    <h2 [@slideInFromLeft]>Femme Fit Tailor, where craftsmanship meets elegance.<br>
      For the past 12 years, we have been dedicated to creating exquisite, tailor-made garments for women,<br>
      ensuring that every piece is as unique and beautiful as the woman who wears it.</h2><br>
    <h2 [@slideInFromLeft]>At the heart of our business is SUJATHA MANOHARAN, a tailor whose passion for fashion and meticulous attention to detail have made her a trusted name in the community.<br>
      Over the years, SUJATHA MANOHARAN has transformed countless yards of fabric into stunning dresses.</h2>
    
  </mat-card-content>
</mat-card>


<h1 class="text"> Our Tailoring Services help you with</h1><br>
<div class="det">
 
<div class="detail"> 
  <mat-card class="card1">
    <mat-card-content>
      <img class="img1" src="./assets/ladies.jpeg" alt="ladies">
     <p>
      <b>Ladies </b><br>
      * Blouse  <br>
      * Designer Blouse <br>
      * Salwar suit (plain) <br>
      * Designer Salwar Suit <br>
      * Patiala Suit....
      
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card1">
    <mat-card-content>
      <img class="img1" src="./assets/kids.webp" alt="kids">
    <p>
      <strong> kids</strong><br>
      * Baby Suits<br>
      * Baba Suits<br>
      * Nappies<br>
      * Frocks<br>
      * Baby Pants..
      
      </p>
    </mat-card-content>
  </mat-card>  
  </div>
</div>
   <div class="det2">
  <div class="detail2">
  <mat-card class="card1">
    <mat-card-content>
      <img class="img1" src="./assets/house.jpeg" alt="kids">
     <p>
     <b> Household</b><br>
* Curtains<br>
* Sofa Cover<br>
* Almirah Cover<br>
* Bed & Pillow covers<br>
* Other Appliances Covers.
     </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card1">
    <mat-card-content>
      <img class="img1" src="./assets/rep.jpg" alt="kids">
      <p>
        <b>Repairs/Alterations</b><br>
        * Shortening - sleeves, pant legs<br>
        * Hemming of all types<br>
        * Cuffs<br>
        * Sewing Services<br>
        * Basic repairs.
    </mat-card-content>
  </mat-card>
</div>
</div>

<div class="info">
  
    <h1>Address:</h1>
<p>5/204,Dhavanai vill & post<br>
   The-Nilgiris-643007.<br></p>
   

<h1>Contact Us</h1>
<p>Phone : + 91 8524822544<br>

Email id : femmiefit@123.com</p>


  
</div>